In [2]:
import pandas as pd
import numpy as np

In [3]:
#series

In [4]:
my_dict = {"James" : 50, "Lars": 60, "Kirk" : 55, "Rob" : 65}

In [5]:
pd.Series(my_dict)

James    50
Lars     60
Kirk     55
Rob      65
dtype: int64

In [4]:
age_list = [50,60,55,65]
name_list = ["James", "Lark", "Kirk", "Rob"]

In [5]:
pd.Series(age_list, name_list)

James    50
Lark     60
Kirk     55
Rob      65
dtype: int64

In [6]:
pd.Series(data=age_list,index=name_list)

James    50
Lark     60
Kirk     55
Rob      65
dtype: int64

In [7]:
numpy_array = np.arange(0,8)

In [8]:
numpy_array

array([0, 1, 2, 3, 4, 5, 6, 7])

In [10]:
pd.Series(numpy_array)

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
dtype: int64

In [18]:
new_numpy_array = np.array([10,20,30,40])

In [19]:
new_numpy_array

array([10, 20, 30, 40])

In [20]:
pd.Series(new_numpy_array)

0    10
1    20
2    30
3    40
dtype: int64

In [21]:
new_numpy_array

array([10, 20, 30, 40])

In [22]:
name_list

['James', 'Lark', 'Kirk', 'Rob']

In [23]:
pd.Series(data=new_numpy_array, index=name_list)

James    10
Lark     20
Kirk     30
Rob      40
dtype: int64

In [24]:
my_series = pd.Series(data=new_numpy_array, index=name_list)

In [25]:
my_series

James    10
Lark     20
Kirk     30
Rob      40
dtype: int64

In [26]:
type(my_series)

pandas.core.series.Series

In [29]:
my_series["Kirk"] = 60

my_series

In [30]:
my_series

James    10
Lark     20
Kirk     60
Rob      40
dtype: int64

In [32]:
quiz_result1 = pd.Series(data=[70,60,100], index =["A","B","C"])

In [33]:
quiz_result2 = pd.Series(data=[30,80,70], index =["A","B","C"])

In [34]:
quiz_result1

A     70
B     60
C    100
dtype: int64

In [35]:
quiz_result2

A    30
B    80
C    70
dtype: int64

In [36]:
quiz_result1 + quiz_result2

A    100
B    140
C    170
dtype: int64

In [37]:
exam_result1 = pd.Series(data=[70,60,100], index =["A","B","C"])

In [38]:
exam_result2 = pd.Series(data=[30,80,70], index =["A","D","C"])

In [40]:
exam_result1 + exam_result2

A    100.0
B      NaN
C    170.0
D      NaN
dtype: float64