In [2]:
import pandas as pd
import numpy as np

In [3]:
#series

In [4]:
my_dict = {"James" : 50, "Lars": 60, "Kirk" : 55, "Rob" : 65}

In [5]:
pd.Series(my_dict)

James    50
Lars     60
Kirk     55
Rob      65
dtype: int64

In [4]:
age_list = [50,60,55,65]
name_list = ["James", "Lark", "Kirk", "Rob"]

In [5]:
pd.Series(age_list, name_list)

James    50
Lark     60
Kirk     55
Rob      65
dtype: int64

In [6]:
pd.Series(data=age_list,index=name_list)

James    50
Lark     60
Kirk     55
Rob      65
dtype: int64